<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<link rel="shortcut icon" type="image/x-icon" href="../../assets/logo.ico" />
<!-- Axios library -->
<script defer src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="heder_links.js">
    var url = window.location.href;
    var urlSplit = url.split('/');
    var id = urlSplit[urlSplit.length - 1];
    var user = urlSplit[urlSplit.length - 2];
    var botonPantallaPedidos = document.getElementById("PantallaPedidos");
    var botonPantallaActualizar = document.getElementById("PatnallaActualizar");
    var botonPantallaHisto = document.getElementById("PantallaHisto");
    var botonPantallaCierre = document.getElementById("PantallaCierre");

    botonPantallaPedidos.addEventListener("click", () => { window.location.replace('https://toppick-admin-server.herokuapp.com/pedidos'); });
    botonPantallaActualizar.addEventListener("click", () => { window.location.replace('https://toppick-admin-server.herokuapp.com/actualizar'); });
    botonPantallaHisto.addEventListener("click", () => { window.location.replace('https://toppick-admin-server.herokuapp.com/historial'); });
    botonPantallaCierre.addEventListener("click", () => { window.location.replace('https://toppick-admin-server.herokuapp.com/cierre_caja'); });
</script>

<title>Toppick Admin</title>